.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cart-header {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.cart-item {
  padding: 15px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
}

.remove-button {
  color: #ff5722;
}

.product-image img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 15px;
}

.product-details {
  display: flex;
  flex-direction: column;
}

.product-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-button {
  color: #757575;
}

.product-quantity {
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
  color: #333;
}

.order-summary {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.total-items {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

.total-price {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

.place-order-button {
  margin-top: 20px;
  background-color: #4caf50;
  color: #fff;
}

.clear-cart-button {
  margin-top: 10px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


